body.page-template-template-full-width #content #primary {
	max-width: 100%;
}

body.page-template-template-full-width #content #primary .entry-header,
body.page-template-template-full-width #content #primary .entry-content {
    float: none;
    width: 100%;
}

body.page-template-template-full-width #content #primary .entry-header {
    margin-bottom: 4em;
}

h2, .home.blog .entry-title {
    color: #a00000;
    font-size: 42px;
    font-size: 1.25rem;
    font-weight: 300;
}
